@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  .section-container {
    flex-direction: column;
    gap: 2rem;
  }
  #about, #projects {
    width: 100%;
    box-sizing: border-box;
  }
  section {
    height: auto !important;
    min-height: fit-content;
    margin-bottom: 3rem;
  }
  .about-details-container {
    flex-direction: column;
  }
  .about-pic {
    max-width: 100%;
    height: auto;
  }
}
